@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

/*!----------HEADER----------*/

header {
  display: flex;
  justify-content: space-between;
  background-color: #9f63ff;
  position: sticky;
  top: 0;
  z-index: 1;
}

header .navbar {
  width: 100%;
}

header .navbar-collapse {
  flex-grow: initial;
}

header nav a img {
  width: 100px;
  height: 100%;
  object-fit: contain;
}

.nav-link {
  color: white;
  font-size: 1.1rem;
}

/*!----------MAIN----------*/
/*?---------------------INDEX-----------------------*/
/*-HERO-IMAGE-*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  color: white;
  text-align: center;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 20%,
      rgba(90, 49, 183, 0.5) 100%
    ),
    url(../img/background-home-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  padding: 10px;
}

.hero p {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.hero a {
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  background-color: #9f63ff;
  border-radius: 10px;
  padding: 15px;
  transition: 300ms ease-in;
}

.hero a:hover {
  color: white;
  background-color: #7b48db;
  cursor: pointer;
  transform: scale(1.1);
}

/*-SERVICIOS-*/
.servicios {
  text-align: center;
  margin-top: 100px;
}

.servicios h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px 10px 10px 10px;
}

.servicios h2 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  padding: 0px 10px 10px 10px;
  margin-bottom: 30px;
}

.servicios .servicios-tipos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: left;
}

.servicios .servicios-tipos div {
  width: 500px;
  height: 540px;
  color: #131815;
  margin: 20px 10px;
}

.servicios .servicios-tipos div img {
  width: 500px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px 10px 0px 0px;
}

.servicios .servicios-tipos div h4 {
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 20px;
}

.servicios .servicios-tipos div p {
  padding-left: 20px;
  padding-bottom: 40px;
  font-size: 1.2rem;
  font-weight: 200;
}

.servicios .servicios-tipos div a {
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: #9f63ff;
  border: 1px solid #9f63ff;
  border-radius: 10px;
  padding: 15px;
  transition: 300ms ease-in;
  margin-left: 20px;
}

.servicios .servicios-tipos div a:hover {
  color: white;
  background-color: #9f63ff;
  cursor: pointer;
}

/*-PRODUCTOS-*/
.productos {
  margin-top: 70px;
}

.productos h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px 10px 10px 10px;
}

.productos h2 {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 0px 10px 10px 10px;
  margin-bottom: 30px;
}

.productos .productos-contenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: #131815;
}

.productos .productos-contenedor .productos-varios {
  width: 400px;
  height: 520px;
  margin: 20px 20px;
}

.productos .productos-contenedor .productos-varios div img {
  width: 400px;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.productos .productos-contenedor .productos-varios h4 {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.productos .productos-contenedor .productos-varios p {
  font-weight: 200;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.productos .productos-contenedor .productos-varios a {
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: #9f63ff;
  border: 1px solid #9f63ff;
  border-radius: 10px;
  padding: 15px;
  transition: 300ms ease-in;
  cursor: pointer;
}

.productos .productos-contenedor .productos-varios a:hover {
  color: white;
  background-color: #9f63ff;
}

.productos .productos-contenedor .productos-varios .content-circle {
  display: flex;
  justify-content: left;
  padding-bottom: 40px;
}

.productos .productos-contenedor .productos-varios .content-circle .circle {
  width: 32px;
  height: 32px;
  background-color: #dfc0ff;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  transition: 500ms ease;
}

.productos
  .productos-contenedor
  .productos-varios
  .content-circle
  .circle:hover {
  background-color: #cca1ff;
  border-radius: 50%;
}

/*-HACER-PEDIDOS-*/
.pedidos {
  text-align: center;
  margin-top: 100px;
}

.pedidos h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px 10px 10px 10px;
}

.pedidos h2 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  padding: 0px 10px 10px 10px;
  margin-bottom: 30px;
}

.pedidos .pedidos-pasos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pedidos .pedidos-pasos div {
  width: 244px;
  height: 300px;
  color: #131815;
  margin: 10px;
}

.pedidos .pedidos-pasos div img {
  width: 96px;
  height: 96px;
  margin: 50px;
}

.pedidos .pedidos-pasos div h4 {
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pedidos .pedidos-pasos div p {
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 1.2rem;
}

/*-SUSCRIBIR-*/
.suscribir {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.suscribir h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px 10px 10px 10px;
}

.suscribir h2 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  padding: 0px 10px 10px 10px;
  margin-bottom: 30px;
}

.suscribir .suscribir-bloque {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.suscribir .suscribir-bloque img {
  width: 750px;
  height: 500px;
  background-size: contain;
  border-radius: 10px 0px 0px 10px;
}

.suscribir .suscribir-formu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  background-color: rgba(240, 223, 255, 0.4);
  padding: 30px 30px;
  border-radius: 0px 10px 10px 0px;
  width: 530px;
  height: 500px;
}

.suscribir .suscribir-formu p {
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 1.4rem;
  text-align: left;
}

.suscribir .suscribir-formu form div label {
  font-weight: 200;
  font-size: 1rem;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.suscribir .suscribir-formu form div {
  margin: 20px 0px;
}

.suscribir .suscribir-formu form div input {
  font-family: "Noto Sans", sans-serif;
  border: 1px solid #5a31b7;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  height: 40px;
}

.suscribir .suscribir-formu form div button {
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
  color: #9f63ff;
  background-color: transparent;
  border: 1.5px solid #9f63ff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  transition: 300ms ease-in;
  cursor: pointer;
}

.suscribir .suscribir-formu form div button:hover {
  color: white;
  background-color: #9f63ff;
}

/*?---------------------ACERCA DE-----------------------*/
/*INTRO*/
.intro {
  background-color: rgba(240, 223, 255, 0.4);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 100px;
}

.intro div {
  width: 500px;
  text-align: left;
}

.intro div h1 {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}

.intro div p {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.intro img {
  border-radius: 0px 0px 10px 10px;
  width: 750px;
  height: 500px;
}

/*ABOUT*/
.about {
  margin: 5% 7% 5% 46%;
  /* margin-left: 50%; */
  padding: 20px 0px;
}

.about p {
  line-height: 2rem;
}

/*CONÓCENOS-GENERALES*/
.generales {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0dfff; */
  width: 100%;
  height: 80vh;
  padding-top: 20px;
  margin-bottom: 50px;
}

.generales h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px 10px 10px 10px;
}

.generales h2 {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 0px 10px 10px 10px;
  margin-bottom: 30px;
}

.generales .generales-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 40px;
  justify-items: center;
  padding: 30px;
}

.generales .generales-content .box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(240, 223, 255, 0.4);
  color: #131815;
  text-align: center;
  border-radius: 10px;
  padding: 40px;
}

.generales .generales-content .box h4 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.generales .generales-content div img {
  border-radius: 10px;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

/*?---------------------SERVICIOS-----------------------*/

/*-INTRO-SERVICE-*/
.intro-service {
  background-color: rgba(240, 223, 255, 0.4);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 100px;
}

.intro-service div {
  width: 500px;
  text-align: left;
}

.intro-service div h1 {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}

.intro-service div p {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.intro-service img {
  border-radius: 0px 0px 10px 10px;
  width: 750px;
  height: 500px;
}

/*-SERVICE-VARIOUS-*/
.service-various {
  text-align: center;
  margin-top: 100px;
}

.service-various h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px 10px 10px 10px;
}

.service-various h2 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  padding: 0px 10px 10px 10px;
  margin-bottom: 30px;
}

.tabs-content {
  background-color: rgba(240, 223, 255, 0.4);
  color: #131815;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}

.tabs-content h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: left;
}

.tabs-content p {
  text-align: left;
  padding-left: 10px;
}

.tabs-content .nav-link {
  color: #131815;
}

.tabs-content .active {
  color: white;
}

.tabs-content .nav-pills {
  --bs-nav-pills-link-active-bg: #9f63ff;
  justify-content: space-evenly;
  align-items: center;
}

/*?---------------------PRODUCTOS-----------------------*/
/*INTRO*/
.intro-products {
  background-color: rgba(240, 223, 255, 0.4);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 100px;
}

.intro-products div {
  width: 500px;
  text-align: left;
}

.intro-products div h1 {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}

.intro-products div p {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.intro-products img {
  border-radius: 0px 0px 10px 10px;
  width: 750px;
  height: 500px;
}

/*-GALERÍA-*/
.gallery {
  margin-top: 100px;
}

.gallery h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  padding: 20px 10px 10px 10px;
}

.gallery h2 {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 0px 10px 10px 10px;
  margin-bottom: 30px;
}

.gallery .gallery-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: #131815;
  padding-bottom: 50px;
}

.gallery .gallery-content .gallery-products div img {
  width: 400px;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.gallery .gallery-content .gallery-products {
  width: 400px;
  height: 520px;
  margin: 20px 20px;
  color: #131815;
}

.gallery .gallery-content h4 {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gallery .gallery-content p {
  font-weight: 200;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.gallery .gallery-content .gallery-products .colour-circle {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 40px;
}

.gallery .gallery-content .gallery-products .colour-circle .colour {
  width: 32px;
  height: 32px;
  background-color: #dfc0ff;
  border-radius: 50%;
  margin-right: 20px;
  transition: 500ms ease;
  cursor: pointer;
}

.gallery .gallery-content .gallery-products .colour-circle .colour:hover {
  background-color: #cca1ff;
  border-radius: 50%;
}

.gallery .gallery-content .gallery-products a {
  font-weight: 200;
  text-decoration: none;
  color: #9f63ff;
  border: 1px solid #9f63ff;
  border-radius: 10px;
  padding: 15px;
  transition: 300ms ease-in;
  cursor: pointer;
}

.gallery .gallery-content .gallery-products a:hover {
  color: white;
  background-color: #9f63ff;
}

/*?---------------------CONTACTO-----------------------*/
/*INTRO*/
.intro-contact {
  background-color: rgba(240, 223, 255, 0.4);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 100px;
}

.intro-contact div {
  width: 500px;
  text-align: left;
}

.intro-contact div h1 {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}

.intro-contact div p {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.intro-contact img {
  border-radius: 0px 0px 10px 10px;
  width: 750px;
  height: 500px;
}

/*-FORM-*/
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 50px 80px;
  width: 100%;
}

.contact-form .mb-3 {
  font-weight: 200;
  font-size: 1.2rem;
}

.contact-form .mb-3 label {
  margin-bottom: 10px;
  color: #131815;
  font-size: 1rem;
}

.contact-form .mb-3 input {
  font-family: "Noto Sans", sans-serif;
  border: 1px solid #5a31b7;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px 10px;
}

.contact-form textarea.form-control {
  font-family: "Noto Sans", sans-serif;
  border: 1px solid #5a31b7;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px 10px;
}

.contact-form .mb-3 .form-check-input:checked {
  background-color: #5a31b7;
  border-color: #5a31b7;
}
.contact-form .mb-3 .form-check-label {
  padding-left: 10px;
}

.contact-form .btn-primary {
  border: 1px solid #7b48db;
  background-color: #7b48db;
  --bs-btn-bg: #7b48db;
  --bs-btn-border-color: #7b48db;
  --bs-btn-hover-bg: #5a31b7;
  --bs-btn-hover-border-color: #5a31b7;
  --bs-btn-active-bg: #5a31b7;
  --bs-btn-active-border-color: #5a31b7;
  --bs-btn-disabled-bg: #5a31b7;
  --bs-btn-disabled-border-color: #5a31b7;
}

/*!----------FOOTER----------*/
footer {
  background-color: #5a31b7;
  padding: 50px 0px;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

footer p {
  font-weight: 200;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 20px;
}

footer .box {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

footer .box img {
  margin: 10px;
  width: 200px;
  height: 200px;
}

footer .box div ul {
  list-style: none;
}

footer .box div ul li {
  font-size: 1rem;
  margin: 5px 10px 0px 0px;
  padding-bottom: 10px;
}

footer .box div ul li a {
  font-weight: 200;
  text-decoration: none;
  color: white;
}

footer .box div h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  padding: 20px 10px 10px 0px;
}

footer .box .redes .list ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

footer .box .redes .list ul li a i {
  font-size: 2.5em;
  color: white;
  /* transition: 300ms; */
}

/* footer .box .redes .list ul li a i:hover{
  color: #dfc0ff;
}  */

/*! ---- MEDIA QUERY ---- */
@media only screen and (max-width: 768px) {
  /*?header*/
  header {
    flex-direction: column;
    padding-bottom: 10px;
  }

  header nav {
    justify-content: center;
  }

  /*?index*/
  .servicios .servicios-tipos div {
    width: 350px;
    height: 500px;
    padding: 0px 25px;
    margin: 20px 0px;
  }

  .servicios .servicios-tipos div img {
    width: 300px;
    height: 200px;
  }

  .productos {
    margin-top: 60px;
  }

  .productos .productos-contenedor {
    justify-content: flex-start;
    margin: 0px 34px;
  }

  .productos .productos-contenedor .productos-varios {
    width: 350px;
    height: 450px;
    padding: 0px 25px;
    margin: 20px 0px;
  }

  .productos .productos-contenedor .productos-varios div img {
    width: 300px;
    height: 200px;
  }

  .pedidos {
    margin-top: 70px;
  }

  .suscribir h2 {
    padding: 0px 50px;
  }

  .suscribir h3 {
    padding: 0px 50px 10px 50px;
  }

  .suscribir .suscribir-bloque {
    width: 700px;
    height: 100%;
    margin: auto;
  }

  .suscribir .suscribir-bloque img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .suscribir .suscribir-formu {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
  }

  /*?about*/
  .intro {
    flex-direction: column;
  }

  .intro div {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
  }

  .intro img {
    width: 100%;
    height: 70vh;
    border-radius: 0px;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 6% 10% 40%;
    padding: 0;
  }

  .about p {
    padding: 0;
    margin: 0;
  }

  .generales {
    height: 100%;
  }

  .generales h2 {
    padding: 0px 50px;
    margin-bottom: 10px;
  }

  .generales h3 {
    padding: 20px 50px 10px 50px;
    margin-bottom: 0;
  }

  .generales .generales-content {
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
  }

  .generales .generales-content div img {
    width: 100%;
    height: 100%;
  }

  /*?services*/
  .intro-service {
    flex-direction: column;
  }

  .intro-service div {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
  }

  .intro-service img {
    width: 100%;
    height: 70vh;
    border-radius: 0;
  }

  .service-various .type {
    margin: 40px 50px 5px 50px;
    padding-top: 0px;
  }

  .service-various .type h3 {
    font-size: 1.2rem;
    letter-spacing: 3px;
    padding: 20px 0px 10px 0px;
    text-align: center;
  }

  .service-various .line {
    width: 250px;
    height: 0px;
    margin: 0px 100px;
  }

  .service-various .stock {
    flex-direction: column;
    width: 700px;
    height: 100%;
    align-items: flex-start;
    padding: 30px 0px;
    margin: 40px auto 80px auto;
  }

  .service-various .stock .stock-a {
    margin: 0px 50px 20px 50px;
  }

  .service-various .stock .stock-a h3 {
    padding: 40px 0px 10px 0px;
  }

  .service-various .stock .stock-a p {
    margin: 0;
  }

  /*?products*/
  .intro-products {
    flex-direction: column;
  }

  .intro-products div {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
  }

  .intro-products img {
    width: 100%;
    height: 70vh;
    border-radius: 0;
  }

  .gallery h2 {
    padding: 0px 50px;
  }

  .gallery h3 {
    padding: 20px 50px 10px 50px;
    margin-bottom: 0;
  }

  .gallery .gallery-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .gallery .gallery-content .gallery-products {
    width: 350px;
    height: 450px;
    padding: 0px 25px;
    margin: 20px 0px;
  }

  .gallery .gallery-content .gallery-products div img {
    width: 300px;
    height: 200px;
  }

  /*?contact*/
  .intro-contact {
    flex-direction: column;
  }

  .intro-contact div {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
  }

  .intro-contact img {
    width: 100%;
    height: 70vh;
    border-radius: 0;
  }

  .contact-form {
    padding: 80px 50px;
  }

  .contact-form form {
    margin: auto;
    padding: 0;
  }

  .contact-form form .btn button {
    width: 150px;
  }

  /*?footer*/
  footer .box {
    margin: 0px 30px;
  }

  footer .box img {
    width: 150px;
    height: 150px;
    margin: 10px 50px 10px 10px;
  }
}

@media only screen and (max-width: 576px) {
  /*?generales*/
  header {
    flex-direction: column;
    padding-bottom: 10px;
  }

  nav {
    justify-content: center;
  }

  header nav ul {
    margin: 0;
  }

  header nav ul li {
    margin: 0px 10px;
  }

  /*?index*/
  .hero {
    height: 90vh;
  }
  .hero h1 {
    margin: 0px 65px;
    padding: 0px 0px 20px 0px;
  }

  .hero p {
    margin: 0px 40px 40px 65px;
  }

  .servicios {
    margin-top: 70px;
  }

  .servicios h2 {
    padding: 0px 50px 30px 50px;
    margin-bottom: 0;
  }

  .servicios h3 {
    padding: 20px 50px 10px 50px;
  }

  .servicios .servicios-tipos div {
    width: 550px;
    height: 550px;
    padding: 0px 25px;
    margin: 20px 0px;
  }

  .servicios .servicios-tipos div img {
    width: 500px;
    height: 300px;
  }

  .productos {
    margin-top: 50px;
  }

  .productos h2 {
    padding: 0px 50px;
    margin-bottom: 0;
  }

  .productos h3 {
    padding: 20px 50px 10px 50px;
    margin-bottom: 0;
  }

  .productos .productos-contenedor {
    justify-content: center;
  }

  .productos .productos-contenedor .productos-varios {
    width: 450px;
    height: 500px;
    margin: 40px 20px;
  }

  .productos .productos-contenedor .productos-varios div img {
    width: 400px;
    height: 300px;
  }

  .pedidos {
    margin-top: 60px;
  }

  .pedidos h2 {
    padding: 0px 50px;
    margin-bottom: 0;
  }

  .pedidos h3 {
    padding: 20px 50px 10px 50px;
    margin-bottom: 0;
  }

  .pedidos .pedidos-pasos {
    flex-direction: column;
    align-items: center;
  }

  .pedidos .pedidos-pasos div {
    width: 250px;
    height: 250px;
    margin: 20px;
  }

  .pedidos .pedidos-pasos div img {
    width: 80px;
    height: 80px;
    margin: 30px;
  }

  .suscribir {
    margin-top: 80px;
  }

  .suscribir .suscribir-bloque {
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100%;
  }

  .suscribir .suscribir-bloque img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .suscribir .suscribir-formu {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
  }

  /*?about*/
  .intro {
    flex-direction: column;
  }

  .intro div {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .intro img {
    width: 100%;
    height: 70vh;
    border-radius: 0;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 50px 50px 50px;
    padding: 0;
  }

  .about p {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .generales {
    height: 100%;
    margin-bottom: 60px;
  }

  .generales h2 {
    padding: 0px 50px;
    margin-bottom: 0;
  }

  .generales h3 {
    padding: 20px 50px 10px 50px;
    margin-bottom: 0;
  }

  .generales .generales-content {
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
  }

  /*?services*/
  .intro-service {
    flex-direction: column;
  }

  .intro-service div {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .intro-service img {
    width: 100%;
    height: 70vh;
    border-radius: 0;
  }

  .service-various h2 {
    padding: 0px 50px;
    margin-bottom: 0;
  }

  .service-various h3 {
    padding: 20px 50px 10px 50px;
    margin-bottom: 0;
  }

  .service-various .type {
    margin: 40px 50px 5px 50px;
    padding-top: 0px;
  }

  .service-various .type h3 {
    font-size: 1.2rem;
    letter-spacing: 3px;
    padding: 20px 0px 10px 0px;
    text-align: center;
  }

  .service-various .line {
    width: 190px;
    height: 0px;
    margin: 0px 70px;
  }

  .service-various .stock {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    border-radius: 0;
    padding: 30px 0px;
    margin-bottom: 80px;
  }

  .service-various .stock .stock-a {
    margin: 0px 50px 20px 50px;
  }

  .service-various .stock .stock-a h3 {
    padding: 40px 0px 10px 0px;
  }

  .service-various .stock .stock-a p {
    margin: 0;
  }

  /*?products*/
  .intro-products {
    flex-direction: column;
  }

  .intro-products div {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .intro-products img {
    width: 100%;
    height: 70vh;
    border-radius: 0;
  }

  /*   .gallery {
    margin-top: 100px;
  } */

  .gallery h2 {
    padding: 0px 50px;
    margin-bottom: 0;
  }

  .gallery h3 {
    padding: 20px 50px 10px 50px;
    margin-bottom: 0;
  }

  .gallery .gallery-content {
    justify-content: center;
  }

  .gallery .gallery-content .gallery-products {
    width: 450px;
    height: 500px;
    margin: 40px 20px;
  }

  .gallery .gallery-content .gallery-products div img {
    width: 400px;
    height: 300px;
  }

  /*?contact*/
  .intro-contact {
    flex-direction: column;
  }

  .intro-contact div {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .intro-contact img {
    width: 100%;
    height: 70vh;
    border-radius: 0;
  }

  .contact-form {
    padding: 100px 50px;
  }

  .contact-form form {
    margin: auto;
    padding: 0;
  }

  .contact-form form .form-data .inputs div input {
    height: 48px;
    padding: 12px;
    border-radius: 8px;
  }

  .contact-form form .comments textarea {
    padding: 12px;
    border-radius: 8px;
  }

  .contact-form form .btn button {
    width: 120px;
    border-radius: 8px;
    padding: 12px;
  }

  /*?footer*/
  footer {
    display: flex;
    flex-direction: column;
  }

  footer p {
    padding: 0px 65px;
  }

  footer .box {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 65px;
  }

  footer .box div ul {
    padding-left: 10px;
    margin-bottom: 0;
  }

  footer .box div h3 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 430px) {
  /*?header*/
  header {
    flex-direction: column;
    padding-bottom: 15px;
  }

  header nav {
    justify-content: center;
  }

  header nav ul {
    margin: 0;
  }

  header nav ul li {
    margin: 0px 5px;
  }

  .hero {
    height: 100vh;
  }

  .hero h1 {
    margin: 0px 25px;
    padding: 0px 0px 20px 0px;
  }

  .hero p {
    margin: 10px 40px 40px 40px;
  }

  .servicios {
    margin-top: 80px;
  }

  .servicios h3 {
    padding: 10px 20px;
  }

  .servicios h2 {
    padding: 0px 20px;
    margin-bottom: 0;
  }

  .servicios .servicios-tipos {
    margin-top: 30px;
    height: 100%;
  }

  .servicios .servicios-tipos div {
    width: 100%;
    height: 520px;
    padding: 0px 25px;
    margin: 20px 0px;
  }

  .servicios .servicios-tipos div img {
    width: 100%;
    height: 250px;
  }

  .productos {
    margin-top: 50px;
  }

  .productos h3 {
    padding: 10px 20px;
    margin-bottom: 0;
  }

  .productos h2 {
    padding: 0px 20px;
    margin-bottom: 0;
  }

  .productos .productos-contenedor {
    justify-content: center;
  }

  .productos .productos-contenedor .productos-varios {
    width: 400px;
    height: 500px;
    margin: 30px 0px;
  }

  .productos .productos-contenedor .productos-varios div img {
    width: 350px;
    height: 100%;
  }

  .pedidos {
    margin-top: 50px;
  }

  .pedidos h3 {
    padding: 10px 20px;
    margin-bottom: 0;
  }

  .pedidos h2 {
    padding: 0px 20px;
    margin-bottom: 0;
  }

  .pedidos .pedidos-pasos {
    flex-direction: column;
    align-items: center;
  }

  .pedidos .pedidos-pasos div {
    width: 250px;
    height: 250px;
    margin: 30px;
  }

  .pedidos .pedidos-pasos div img {
    width: 80px;
    height: 80px;
    margin: 20px;
  }

  .suscribir {
    margin-top: 70px;
  }

  .suscribir h3 {
    padding: 10px 20px;
    margin-bottom: 0;
  }

  .suscribir h2 {
    padding: 0px 20px;
    margin-bottom: 0;
  }

  .suscribir .suscribir-bloque {
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100%;
    margin-top: 30px;
  }

  /*?about*/
  .intro {
    flex-direction: column;
  }

  .intro div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .intro img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 40px 50px;
    padding: 0;
  }

  .about p {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .generales {
    height: 100%;
    padding-top: 40px;
    margin-bottom: 50px;
  }

  .generales h3 {
    padding: 10px 20px;
    margin-bottom: 0;
  }

  .generales h2 {
    padding: 0px 20px;
    margin-bottom: 0;
  }

  .generales .generales-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  /*?services*/
  .intro-service {
    flex-direction: column;
  }

  .intro-service div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .intro-service img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .service-various {
    margin-top: 50px;
    text-align: center;
  }

  .service-various h3 {
    padding: 10px 20px;
    margin-bottom: 0;
  }

  .service-various h2 {
    padding: 0px 20px;
    margin-bottom: 0;
  }

  .service-various .type {
    margin: 40px 20px 0px 20px;
    padding-top: 0px;
  }

  .service-various .line {
    width: 190px;
    height: 0px;
    margin: 0px 70px;
  }

  .service-various .stock {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    border-radius: 0;
    padding: 20px 0px;
    margin-bottom: 70px;
  }

  /*?products*/
  .intro-products {
    flex-direction: column;
  }

  .intro-products div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .intro-products img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .gallery {
    margin-top: 50px;
  }

  .gallery h3 {
    padding: 10px 20px;
    margin-bottom: 0;
  }

  .gallery h2 {
    padding: 0px 20px;
    margin-bottom: 0;
  }

  .gallery .gallery-content {
    justify-content: center;
    padding-top: 0px;
  }

  .gallery .gallery-content .gallery-products {
    width: 400px;
    height: 500px;
    margin: 30px 0px;
  }

  .gallery .gallery-content .gallery-products div img {
    width: 350px;
    height: 100%;
  }

  /*?contact*/
  .intro-contact {
    flex-direction: column;
  }

  .intro-contact div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .intro-contact img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .contact-form {
    margin: 0;
    padding: 50px 0px;
  }

  .contact-form form {
    margin: auto;
    padding: 0px;
  }

  .contact-form form .form-data .inputs div input {
    width: 100%;
    height: 56px;
    padding: 12px;
    border-radius: 8px;
  }

  .contact-form form .comments textarea {
    padding: 12px;
    border-radius: 8px;
  }

  .contact-form form .check .container {
    font-size: 0.9rem;
  }

  .contact-form form .btn button {
    width: 100px;
    border-radius: 8px;
    padding: 12px;
  }
}
