/*-----CONTACTO-----*/

/*-INTRO-CONTACT-*/
.intro-contact {
    @extend %intro;
    div {
        @extend %div;
        h1 {
            @extend %title;
        }
        p {
            @extend %paragraph;
        }
    }
    img {
        @extend %img;
    }
}

.contact-form {

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 50px 80px;
        width: 100%;
        .mb-3 {
            font-weight: 200;
            font-size: 1.2rem;
            label {
                margin-bottom: 10px;
                color: #131815;
                font-size: 1rem;
            }
            input {
                font-size: map-get($input , fnt-size );
                font-weight: map-get($input , fnt-weight );
                border: map-get($input , bord );
                border-radius: map-get($input , b-radius );
                padding: map-get($input , padd );
            }
            .form-control {
                font-size: map-get($input , fnt-size );
                font-weight: map-get($input , fnt-weight );
                border: map-get($input , bord );
                border-radius: map-get($input , b-radius );
                padding: map-get($input , padd );
            }
        }
        .form-check {
            .form-check-input {
                background-color: transparent;
                border-color: #9f63ff;
                &:checked {
                    background-color: #9f63ff;
                    border-color: #9f63ff;
                }
            }
            .form-check-label {
                padding-left: 5px;
            }
        }
        .btn-primary {
            border: 1px solid #9f63ff;
            background-color: #9f63ff;
            padding: 10px 20px;
            --bs-btn-bg: #9f63ff;
            --bs-btn-border-color: #9f63ff;
            --bs-btn-hover-bg: #5a31b7;
            --bs-btn-hover-border-color: #5a31b7;
            --bs-btn-active-bg: #5a31b7;
            --bs-btn-active-border-color: #5a31b7;
            --bs-btn-disabled-bg: #5a31b7;
            --bs-btn-disabled-border-color: #5a31b7;
            &:hover {
                border: 1px solid #5a31b7;
                background-color: #5a31b7;
            }
        }
    }
}