//COLOUR
$primary-colour: #9f63ff;
$dark-nine-colour: #2a137a;
$dark-eight-colour: #3e1f93;
$dark-seven-colour: #5a31b7;
$dark-six-colour: #7b48db;

$dark-four-colour: #bb8aff;
$dark-three-colour: #cca1ff;
$dark-two-colour: #dfc0ff;
$dark-one-colour: #f0dfff;

//TEXT-COLOUR
$text-colour-primary: #131815;
$text-colour-secondary: white;
$text-colour-neutral: #e7e8e8;

//BACKGROUND
$bg-colour: rgba(240, 223, 255, 0.4);

//LISTAS
$colours:

//MAPA